name: yasmin_framework
services:
  backend: 
    container_name: yasmin_framework_container
    image: rsyasmin/dev:latest
    volumes:
      - ./src:/workspace/www
      - ../src:/workspace/src
      - ./vhost.conf:/etc/apache2/conf.d/vhost.conf
    ports:
      - 8091:80
    networks:
      - environment
      - database

networks:
  environment:
    name: environment
    external: true

  database:
    name: database
    external: true